{% extends "_layout.njk" %}
{% from "_macros.njk" import pageHeader %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block main_content %}

  {{
    pageHeader(
        title=post.title,
        subtitle='Posted by ' + post.author + ' on ' + post.formattedDate,
        image_url='/images/' + post.image
    )
  }}

  <article class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">{{ post.content | safe }}</div>
      </div>
    </div>
  </article>
{% endblock %}
